<template name="layout">
    <aside class="notification-center">
        {{#if currentUser}}
            {{> notifications}}
        {{/if}}
    </aside>


    <div class="container">
        <div class="row">
            <header class="column twelve">
                <h1><a href="/">Story Time</a></h1>

                {{> loginButtons}}
            </header>
        </div>
        
        <section class="row main-content">
            {{> yield}}
        </section>
    </div>

    {{> notificationsDropdown}}
</template>