@import url(http://fonts.googleapis.com/css?family=Pacifico|Raleway);

h1 {
    font-family: Pacifico, serif;
    margin-bottom: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 2rem;
    font-weight: normal;
}

header {
    text-align: center;
}

.container {
    margin: 10rem auto;
}

.error-40x {
    text-align: center;
    width: 50%;
    margin: 4rem auto 0 auto;
}

button {
    text-transform: none;
    font-size: 1.25rem;
}

.notification-link {
    font-size: 1.5rem;
}

.sweet-alert button {
    line-height: normal;
    height: auto;
}

.story-input {
    margin: 3rem 0;
}

.story-title {
    padding: 2.5rem 0;
}

.date {
    font-weight: normal;
    color: #666;
}

.delete {
    display: none;
    font-size: 1.3rem;
}

.story-title:hover .delete, .chapter:hover .delete {
    display: inline-block;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

a:hover {
    border-bottom: 1px solid #1EAEDB;
}

h1 a, h1 a:hover {
    border-bottom: none;
}

time[datetime] {
    cursor: help;
    border-bottom: 1px dotted #ccc;
}

a:hover time[datetime] {
    color: white;
}

.stories .row:first-child {
    padding-top: 0;
}

.chapter-count {
    font-size: 2rem;
    vertical-align: middle;
}

.dropdown ul.dropdown-menu {
    max-width: 100%; 
}

.dropdown-menu li:last-child a {
    border: none;
}

.chapter {
    padding: 1.5rem 0;
}

.chapter p {
    margin: 0;
}
