@import url(http://fonts.googleapis.com/css?family=Pacifico|Raleway);

h1 {
    font-family: Pacifico, serif;
    margin-bottom: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 0;
}

header {
    text-align: center;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border-color 125ms ease-out, color 250ms ease-out, background-color 250ms ease-out;
}

a:hover {
    border-bottom: 1px solid #258AC3;
    opacity: 1;
    color: #258AC3;
}

h1 a, h1 a:hover {
    border-bottom: none;
}

time[datetime] {
    cursor: help;
}

a:hover time[datetime] {
    color: white;
}

.container {
    margin: 10rem auto;
}

.error-40x {
    text-align: center;
    width: 50%;
    margin: 4rem auto 0 auto;
}

button, .button-primary {
    text-transform: none;
    font-size: 1.25rem;
    transition: background-color 250ms ease-out;
}

.notification-center {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.notification-link {
    padding: 0.2rem 0.66rem;
}

.notification-link:hover {
    border: none;
}

.sweet-alert button {
    line-height: normal;
    height: auto;
}

.story-input {
    margin: 3rem 0;
}

.story-title {
    padding: 1.5rem 0;
}

.date {
    font-weight: normal;
    color: #666;
}

.delete {
    font-size: 1.5rem;
    opacity: 0.2;
    transition: opacity 250ms ease-out;
}

.delete:hover {
    border: none;
}

.story-title .delete {
    padding-top: 1.5rem;
}

.icon-delete {
    color: #DB4B1E;
}

.stories .row:first-child {
    padding-top: 0;
}

.chapter-count {
    font-size: 2rem;
    vertical-align: middle;
}

.dropdown ul.dropdown-menu {
    max-width: 100%; 
}

.dropdown-menu li:last-child a {
    border: none;
}

.chapter {
    padding: 1.5rem 0;
}

.chapter p {
    margin: 0;
}

.load-more {
    width: 100%;
    margin: 1rem auto 0 auto;
    text-align: center;
}

/* media queries */
@media (max-width: 400px) {

    .container {
        margin: 3rem auto;
    }

    h1 {
        margin-bottom: 1rem;
    }

    .story-input {
        margin: 1rem 0;
    }

    .notification-center {
        position: fixed;
        top: 0.25rem;
        left: 0.5rem;
    }

    .notification-link {
        font-size: 1.25rem;
        padding: 0.05rem 0.33rem;
    }

    .story-title {
        padding: 1rem 0;
    }

}
