<template name="chapter">
    <section class="chapter">
        <section class="row">
            <strong>{{author}}</strong>
            {{#if canDeleteChapter}}<a class="delete u-pull-right" href="#"><span class="icon-delete" title="Delete This Chapter"></span></a>{{/if}}
        </section>
        <section class="row">
            <span class="two columns"><time datetime={{createdAt.toISOString}} title="Posted at {{storyTitleDate}}" class="date"></time></span>
            <p class="ten columns">{{text}}</p>
        </section>
    </section>
</template>
