<template name="storyList">
    {{#if currentUser}}
        <section class="story-input">
            <form class="row">
                <input class="columns ten newStory" type="text" placeholder="Start telling a new story..." maxlength="140">
                <button class="columns two button-primary newStory">Create &rarr;</button>
            </form>
        </section>
    {{/if}}

    <section class="stories">
        {{#if currentUser}}
            {{#momentum plugin='slide-height'}}
                {{#each stories}}
                    {{> storyTitle}}
                {{/each}}

                {{#if nextPath}}
                    <section class="load-more">
                        <a href="{{nextPath}}" class="button button-primary">Load More</a>
                    </section>
                {{/if}}
            {{/momentum}}
        {{/if}}
    </section>
</template>
