<template name="storyList">
    {{#if currentUser}}
        <section class="story-input">
            <form class="row">
                <input class="columns ten newStory" type="text" placeholder="Start telling a new story..." maxlength="140">
                <button class="columns two button-primary newStory">Create &rarr;</button>
            </form>
        </section>
    {{/if}}

    {{#momentum plugin='slide-height'}}
        {{#if ready}}
            <section class="stories">
                {{#if currentUser}}
                    {{#each stories}}
                        {{> storyTitle}}
                    {{/each}}

                    {{#if nextPath}}
                        <a href="{{nextPath}}" class="load-more button button-primary">Load More</a>
                    {{/if}}
                {{/if}}
            </section>
        {{/if}}
    {{/momentum}}
</template>
