<template name="storyPage">
    <section class="story-input">
        {{#if currentUser}}
            <form class="row">
                <input class="columns ten newStory" type="text" placeholder="Add a chapter to this story..." maxlength="140" autofocus>
                <button class="columns two button-primary newStory">Submit &rarr;</button>
            </form>
        {{/if}}
    </section>

    <h2>{{storyTitle}}</h2>
    <em>Created <time title="{{storyTitleDate}}" datetime="{{createdAt.toISOString}}"></time> by {{author}}</em>
    
    <section class="chapters">
        {{#each chapterList}}
            {{> chapter}}
        {{/each}}
    </section>
</template>
