<template name="storyPage">
    <section class="story-input">
        {{#if currentUser}}
            <form class="row">
                <input class="columns ten newStory" type="text" maxlength="140" {{otherAttributes}}>
                <button class="columns two button-primary newStory" disabled={{isLastAuthor}}>Submit &rarr;</button>
            </form>
        {{/if}}
    </section>

    {{#if storyReady}}
        <h2>{{storyTitle}}</h2>
        <p>Created <time title="{{storyTitleDate story=this.story}}" datetime="{{this.story.createdAt.toISOString}}"></time> by {{this.story.author}}</p>
    {{/if}}

    <section class="chapters">
        {{#momentum plugin='slide-height'}}
            {{#each chapterList}}
                {{> chapter}}
            {{/each}}

            {{#if nextPath}}
                <section class="load-more">
                    <a href="{{nextPath}}" class="button button-primary">Load More</a>
                </section>
            {{/if}}
        {{/momentum}}
    </section>
</template>
