<template name="storyList">
    <section class="story-input">
        {{#if currentUser}}
            <form class="row">
                <input class="columns ten newStory" type="text" placeholder="Start telling a new story..." maxlength="140">
                <button class="columns two button-primary newStory">Create &rarr;</button>
            </form>
        {{/if}}
    </section>
    <section class="stories">
        {{#if currentUser}}
            {{#momentum plugin='slide-height'}}
                {{#each stories}}
                    {{> storyTitle}}
                {{/each}}

                {{#if nextPath}}
                    <a href="{{nextPath}}" class="load-more button button-primary">Load More</a>
                {{/if}}
            {{/momentum}}
        {{/if}}
    </section>
</template>
