<template name="storyPage">
    <section class="story-input">
        {{#if currentUser}}
            <form class="row">
                <input class="columns ten newStory" type="text" placeholder="Add a chapter to this story..." maxlength="140">
                <button class="columns two button-primary newStory">Submit &rarr;</button>
            </form>
        {{/if}}
    </section>

    {{#if ready}}
        <h2>{{storyTitle}}</h2>
        <p>Created <time title="Posted at {{storyTitleDate story=this.story}}" datetime="{{this.story.createdAt.toISOString}}"></time> by {{this.story.author}}</p>
    {{/if}}
        
        <section class="chapters">
            {{#momentum plugin='slide-height'}}
                {{#if ready}}
                    {{#each chapterList}}
                        {{> chapter}}
                    {{/each}}

                    {{#if nextPath}}
                        <a href="{{nextPath}}" class="load-more button button-primary">Load More</a>
                    {{/if}}
                {{/if}}
            {{/momentum}}
        </section>
</template>
